section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project_page {
  padding: 70px 60px 20px;
}

h5 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 25px;
}

hr {
  margin-top: 60px;
  width: 90%;
  border: none; //0.5px solid #e7e8e9;
  height: 1px;
  background: #e7e8e9;
}
@media screen and (max-width: 600px) {
  .project_page {
    padding: 70px 0px 20px;
  }
}
