.about {
  padding: 40px 60px 0;

  h5 {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.32em;
    color: rgba(0, 0, 0, 0.7);
  }
}

.paragraph {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 2.75rem;
  line-height: 3rem;
  text-align: center;
  margin: 43px 0 0;

  color: #000000;
}

.young {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  color: rgba(0, 0, 0, 0.8);

  margin-top: 60px;
}
