.about {
  padding: 80px 140px 0;
}

h5 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.32em;
  color: rgba(0, 0, 0, 0.7);
}

.paragraph {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 2.75rem;
  line-height: 3rem;
  text-align: center;
  margin: 43px 0 0;

  color: #000000;
}

.young {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  color: rgba(0, 0, 0, 0.8);

  margin-top: 60px;
}

hr {
  margin-top: 60px;
  width: 90%;
  border: none; //0.5px solid #e7e8e9;
  height: 1px;
  background: #e7e8e9;
}

#skills {
  height: 60vh;
}

.skills {
  padding: 40px 140px 0;
}

.skills_container {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  //background-color: red;
}

.skills_column {
  width: 25%;
  list-style-type: none;

  li {
    font-family: "Metropolis";
    font-style: normal;
    font-size: 16px;
    padding: 30px 10px;
    font-weight: 600;
    text-align: center;
  }
}

.need_a_developer {
  padding: 40px 140px 0;
  text-align: center;

  h1 {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.32em;
    color: rgba(0, 0, 0, 0.7);
  }

  h3 {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    margin: 40px 0 90px 0;
    cursor: pointer;
  }

  .boxi {
    height: 5px;
  }
}

@media screen and (max-width: 700px) {
  .about {
    padding: 80px 20px 0;
  }

  h5,
  .paragraph,
  .young {
    text-align: left;
  }

  .paragraph {
    line-height: normal;
    font-size: 1.75rem;
    margin: 0;
  }
  .young {
    margin-top: 30px;
  }

  #skills {
    height: 50vh;
  }

  .skills {
    padding: 40px 20px 0;
    h5 {
      text-align: center;
    }
  }

  .skills_column {
    li {
      padding: 30px 0;
    }
  }

  .need_a_developer {
    padding: 40px 0 50px;

    h3 {
      font-size: 56px;
      margin: 40px 0 60px 0;
    }
  }

  .boxi {
    height: 0;
  }
}
